/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}
:root{
    --btn-color-blue: #0061ff;
    --border-color-gray: #d0d0d3;
}

/* utils */
.smallcontainer{
    max-width: 1200px;
    margin: 0 auto;
}
.bigcontainer{
    max-width: 1400px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.border{
    border: 1px dashed #000;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.main-title{
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 45px;
}

/* header */
.fixed-header{
    background-color: #fff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px #d1d1d1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}
.fixed-header *{
    padding: 0 10px;
    color: #000;
}

.logo-header{
    display: block;
    max-width: 100%;
}
.btn-header{
    padding: 8px 15px;
    color: #fff;
    background-color: var(--btn-color-blue);
}

/* jumbotron */
.jumbotron{
    background-color: #b4d0e7;
}
.jumbo-content{
    position: relative;
    height: 800px;
    margin-bottom: 100px;
}

.jumbo-title{
    font-size: 80px;
    font-weight: 800;
    padding-top: 80px;
    padding-bottom: 50px;
}

.jumbo.text{
    flex: 0 0 30%;
}
.jumbo-text p{
    font-size: 19px;
}
.jumbo-text li{
    margin-top: 50px;
}
.jumbo-text li:last-child a{
    color: #000;
}
.jumbo-text .fa-arrow-down{
    color: #000;
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 60px;
}

.jumbo-img{
    flex: 0 0 70%;
}
.jumbo-img img{
    display: block;
    max-width: 100%;
}

/* plans section */
    /* billing buttons */
.billing{
    gap: 5px;
}
.billing-btn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.monthly.billing-btn{
    border: 5px solid var(--btn-color-blue);
}
.annual.billing-btn{
    margin-left: 40px;
    border: 2px solid var(--border-color-gray);
}

    /* plans row & column */
.plans-row{
    margin: 50px 0px;
    gap: 50px;
}
.plan-col{
    border: 1px solid var(--border-color-gray)
    ;
}
.plan-col i{
    margin-right: 5px;
}

.col-header{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid var(--border-color-gray);
}

.col-desc{
    padding: 30px;
}

.col-main{
    flex-basis: 60%;
    position: relative;
}

.col-main.top:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 20%;
    background-color: var(--border-color-gray);
}
.col-main p{
    padding-top: 30px;
}

.plan-title{
    font-size: 30px;
    padding-bottom: 10px;
}

.plan-price{
    font-weight: bold;
}
.plan-freq{
    color: #666;
    padding-top: 5px;
}

.plan-feature{
    padding: 50px 0px;
}
.plan-storage{
    padding: 20px 0px;
}

.col-btn{
    flex-basis: 40%;
}
.col-btn:last-child{
    padding-bottom: 40px;
}
.free-try{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}
.buy-now{
    color: #00f;
    text-decoration: underline;
}

.plan-highlights-title{
    padding-top: 40px;
    padding-bottom: 20px;
}
.highlights-list li{
    padding-bottom: 15px;
}
.fa-check{
    color: var(--btn-color-blue);
}