/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}
:root{
    --btn-color-blue: #0061ff;
    --border-color-gray: #d0d0d3;
}

/* utilities */
    /* generic utils */
li{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
}

a{
    color: #000;
    display: inline-block;
    text-decoration: none;
}
i{
    margin-right: 5px;
}

    /* containers */
.smallcontainer{
    max-width: 1200px;
    margin: 0 auto;
}

.bigcontainer{
    max-width: 1400px;
    margin: 0 auto;
}

.border{
    border: 1px dashed #000;
}

    /* flex utils */
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}

.fb-20{
    flex-basis: 20%;
}
.fb-30{
    flex-basis: 30%;
}
.fb-40{
    flex-basis: 40%;
}
.fb-70{
    flex-basis: 70%;
}
.fb-60{
    flex-basis: 60%;
}
.fb-33{
    flex-basis: calc(100% / 3);
}

.g-5{
    gap: 5px;
}
.g-30{
    gap: 30px;
}
.g-50{
    gap: 50px;
}

    /* buttons */
.default-btn{
    padding: 8px 15px;
}
.default-btn:hover{
    opacity: 0.8;
}
.blue-btn{
    color: #fff;
    background-color: var(--btn-color-blue);
}
.white-btn{
    color: #000;
    background-color: #fff;
}
.long-btn{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.standard-btn{
    color: #00f;
    text-decoration: underline;
}

    /* horizontal padding */
.h-padding{
    padding: 80px 0px;
}

    /* text formatting */
.main-title{
    padding-bottom: 50px;
    font-size: 51px;
}

.small-title{
    font-size: 30px;
    padding-bottom: 10px;
}

.desc-paragraph{
    font-size: 20px;
    padding: 30px 0px;
}

    /* bg-colors */
.bg-black{
    background-color: #000;
}
.bg-grey{
    background-color: #f5f5f5;
}
.bg-green{
    background-color: #a2d39b;
}
.bg-bordeaux{
    background-color: #61082b;
}
.bg-sky{
    background-color: #0093ce;
}
.bg-red{
    background-color: #ff1c1c;
}
.bg-darkred{
    background-color: #d5001f;
}
.bg-lightblue{
    background-color: #b4d0e7;
}
.bg-darkblue{
    background-color: #0d2481;
}
.bg-yellow{
    background-color: #ffd830;
}

/* header */
.fixed-header{
    background-color: #fff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px #d1d1d1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}
.fixed-header li{
    padding: 0 20px;
}
.navbar-header{
    align-items: center;
}

/* main */
    /* jumbotron */
.jumbotron{
    background-color: #b4d0e7;
}
.jumbo-content{
    height: 800px;
    margin-bottom: 100px;
}

h1.jumbo-title{
    font-size: 80px;
    font-weight: 800;
    padding-top: 80px;
    padding-bottom: 50px;
}

.jumbo-text p{
    font-size: 19px;
}
.jumbo-text:first-child a{
    margin: 50px 0px;
}

/* plans section */
    /* billing buttons */
.billing-btn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.monthly.billing-btn{
    border: 5px solid var(--btn-color-blue);
}
.annual.billing-btn{
    margin-left: 40px;
    border: 2px solid var(--border-color-gray);
}

    /* plans row & column */
.plans-row{
    margin-top: 50px;
}
.plan-card{
    border: 1px solid var(--border-color-gray)
    ;
}

.card-header{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid var(--border-color-gray);
}
.card-desc{
    padding: 30px;
}
.card-main{
    position: relative;
}
.card-main.top:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 20%;
    background-color: var(--border-color-gray);
}
.card-main p{
    padding-top: 30px;
}

.plan-price{
    font-weight: bold;
}
.plan-freq{
    color: #666;
    padding-top: 5px;
}

.plan-feature{
    padding: 50px 0px;
}
.plan-storage{
    padding: 20px 0px;
}

.card-btn:last-child{
    padding-bottom: 40px;
}

.plan-highlights-title{
    padding-top: 40px;
    padding-bottom: 20px;
}
.highlights-list li{
    padding-bottom: 15px;
}
.fa-check{
    color: var(--btn-color-blue);
}

/* partner section */
.partner-text{
    padding: 40px;
}
.partner-btn{
    border: 1px solid #000;
}

/* brand section */
.brand{
    position: relative;
    flex-basis: 50%;
    height: 382px;
}
.brand:active{
    border: 20px solid rgba(255,255,255,0.2);
}
.brand img{
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}

.brand-desc{
    padding: 50px;
    position: relative;
}
.brand-desc img{
    margin-bottom: 50px;
}
.brand-desc p{
    padding: 50px 0px;
}
.brand-desc address{
    font-style: normal;
}
.brand-desc p:after{
    content: "";
    position: absolute;
    left: 50px;
    top: 227px;
    height: 1px;
    width: 20%;
    background-color: var(--border-color-gray);
}

/* recap section */
.recap-box h2{
    color: #61082b;
    padding: 0;
}
.recap-btn a{
    position: relative;
    left: 0;
    top: 20px;
}

/* Q&A section */
.qa-content > *{
    border-bottom: 1px solid #999;
}

.qa-question{
    padding: 40px 0px;
}
.qa-question i{
    position: relative;
    top: 50%;
    left: 400px;
}
.qa-question:hover i{
    transform: rotate(180deg);
}

.qa-question p{
    padding-top: 20px;
    display: none;
}
.qa-question:hover p{
    display: block
}

/* footeer */
footer{
    border-bottom: 1px solid #fff ;
}
    /* footer-top */
.footer-top{
    padding-bottom: 80px;
}
.footer-card *{
    color: #fff;
}

.footer-list-title{
    font-size: 25px;
    padding-bottom: 30px;
}

.footer-list a{
    margin-bottom: 15px;
}
.footer-list a:hover{
    text-decoration: underline;
}

    /* footer-bottom */
.footer-bottom{
    position: relative;
    padding-top: 60px;
    color: #999;
}

.footer-bottom span:after{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 1px;
    width: 10%;
    background-color: #fff;
}


.qa-question p{
    padding-top: 20px;
    display: none;
}
.qa-question:hover p{
    display: block
}
.qa-question:hover i{
    transform: rotate(180deg);
}